.container {

  text-align: center;

}

.good-data {
  background-color: rgba(26, 131, 68, .8);
  color: white;
}

.bad-data {
  background-color: rgb(223, 96, 105);
  color: white;
}

.header-title {
  font-size: 1.2rem;
}
.info {
  padding: 5px 10px;
  font-size: 1.3rem;
  &-item {
    text-align: left;
  }


}
