<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{callSign}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
        <div class="container">
            <ion-card [ngClass]="{'good-data': loc, 'bad-data': !loc}" class="header-title">
                <ion-card-header  [ngClass]="{'good-data': loc, 'bad-data': !loc}">
                    <strong>מיקום</strong>
                </ion-card-header>

                <ion-card-content>
                    <div *ngIf="loc">
                        <div class="info info-item">Lat: {{loc.coords.latitude | number : '.0-3'}}</div>
                        <div class="info info-item">lng: {{loc.coords.longitude | number : '.0-3'}}</div>
                        <div class="info info-item">Speed: {{loc.coords.speed | number : '.0-0'}}</div>
                        <div class="info info-item">heading: {{loc.coords.heading}}</div>
                        <div class="info info-item">time: {{loc.timestamp | date : 'dd/MM/yy HH:mm:ss' }}</div>
                    </div>
                    <div *ngIf="!loc" dir="rtl" class="info">
                        ממתין לקליטת GPS
                    </div>

                </ion-card-content>

            </ion-card>

<!--            <ion-card  [ngClass]="{'good-data': sendStatus !== null, 'bad-data': sendStatus === null}">-->
<!--                <ion-card-header  [ngClass]="{'good-data': sendStatus !== null, 'bad-data': sendStatus === null}">-->
<!--                    <strong>שליחת מיקום אחרונה</strong>-->
<!--                </ion-card-header>-->

<!--                <ion-card-content >-->
<!--                    <div *ngIf="sendStatus !== null">-->
<!--                        {{sendStatus.date | date : 'dd/MM/yy HH:mm:ss' }}-->
<!--                    </div>-->

<!--                    <div *ngIf="sendStatus === null">-->
<!--                        טרם נשלחו נתונים-->
<!--                    </div>-->

<!--                </ion-card-content>-->

<!--            </ion-card>-->

            <ion-card [ngClass]="{'good-data': isConnected, 'bad-data': !isConnected}">
                <ion-card-header  [ngClass]="{'good-data': isConnected, 'bad-data': !isConnected}"  class="header-title">
                    <strong>חיבור אינטרנט</strong>
                </ion-card-header>

                <ion-card-content>
                    <div *ngIf="isConnected" class="info">מחובר</div>
                    <div *ngIf="!isConnected" class="info">מנותק</div>

                </ion-card-content>

            </ion-card>
        </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-button class="stop-btn" fill="solid" size="" strong="true" expand="block" (click)="stop()" color="danger">
            הפסק
        </ion-button>
    </ion-toolbar>
</ion-footer>
