<ion-header class="title">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>אות קריאה</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
<div class="call-sign">
   <ion-input #myInput type="text" placeholder="הקלד אות קריאה" class="call-sign-input" [value]="callSign"></ion-input>
  <div>

    <ion-button *ngIf="myInput.value.trim().length >1" fill="clear" class="call-sign-btn" (click)="next()" >Next</ion-button>

  </div>

</div>
</ion-content>
