.content {
  height: 100%;
}


.wrap {
  height: 50%;


}
.helicopter {
  background: url(../../assets/img/helicopter.jpg);
}
.airplane {
  background: url(../../assets/img/airplane.jpg);
}

.airplane-type {
  height: 100%;
  --color: #fff;
  --background:none;
  background-size: cover;
  background-position: center;
}


.call-sign {
  margin:  0 auto;
  height: 52.4px;

  font-size: 24px;
  line-height:48px ;
  color: #ffffff;
  text-align: center;
  background: rgba(62, 74, 84, .6);
  padding: 0 26px;
  width: 100vw;

}

.btn-wrap {
  position: relative;
  text-align: center;
  height: calc(50% - 54px);
  .go-btn {
    position: absolute;
    left: calc(50vw - 40vw);
    bottom: 20px;
    width: 80vw;
    padding: 0px;
  }
}

